@font-face {
    font-family: BrushScriptMT;
    src: url(../../fonts/BrushScriptMT.woff);
}

.error {color: #c90000; font-size: 13px;}
select.error, input.error {border: 1px solid #c90000;}

/*LOGIN*/

#login-body {
  height: 100%;
}

#login-body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-footer{
	text-align:center;
	color:#fff;
	font-size:12px;
	padding: 5px 0;
	position:fixed;
	bottom: 0;
	width:100%
}

.login-footer a{color: #fff;}
/*fim-login*/

#topo {margin-bottom: 25px;}

#footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.editar, .excluir, .add, .salvar, .imprimir, .status0, .status1, .status2 {
	display:block;
	width:20px;
	height:20px;
	/*margin:auto;*/
	cursor:pointer;
	text-decoration:none;
	border:none;
}

.excluir {background:url(../../imagens/icones/trash.png) center center no-repeat;}
.editar {background:url(../../imagens/icones/edit.png)center center no-repeat;}

.salvar {background:url(../../imagens/icones/icon_salvar.png) center center no-repeat; border:0;}
.salvar_semBlock {
	background:url(../../imagens/icones/icon_salvar.png) center center no-repeat; border:0;
	width:20px;
	height:20px;
	margin:auto;
	cursor:pointer;
	text-decoration:none;
}

.add{background:url(../../imagens/icones/icon_add.png) center center no-repeat; border:0;}
.add:hover{text-decoration:none}

.imprimir {background:url(../imagens/icon_print.png) center center no-repeat; border:0;}

.status1 {background:url(../../imagens/icones/status1.png)center center no-repeat;}
.status2 {background:url(../../imagens/icones/status2.png)center center no-repeat;}
.status3 {background:url(../../imagens/icones/status3.png)center center no-repeat;}
.status4 {background:url(../../imagens/icones/status4.png)center center no-repeat;}
.status5 {background:url(../../imagens/icones/status5.png)center center no-repeat;}


